/* App.css */
.event-card {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.event-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.event-card:hover ~ .event-card {
  transform: scale(0.9);
  opacity: 0.7;
}

.event-card:not(:hover) {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.event-card-container {
  padding: 10px;
}
