/* Login.css */
.loginContainer {
  margin: 12rem;
  text-align: left;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
}
.formContainer{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formHeading{
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  margin: 1rem;
}

.formHeadingP {
  font-size: 14px;
  margin-bottom: 20px;
}
.formInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.formButton {
  width: 100%;
  padding: 10px;
  background-color: #007c89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

.formButton:hover {
  background-color: #005f66;
  color: white;
}
.error {
  color: red;
  padding: 5px;
}
