/* App.css or a dedicated CSS file for your main content */
body {
  padding-top: 20px; /* Increase this value if the navbar height is greater */
}

.main-content {
  padding: 20px; /* Optional: Add padding around main content */
}


/* src/App.css */
.hero {
  background: url('https://th.bing.com/th/id/OIP.jD1vVPmbqu-1YEUgJTpNWQHaDa?rs=1&pid=ImgDetMain') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 0;
}
